extends layout

block content

  section(class='container')
    div(class='row')
      div(class='col-lg-12')
        div#container-chart
    
    div(class='row')
      div(class='stocks-container' id='stock-names-section')

  script(src='/js/dependencies/highcharts/highstock.js')
  script(src='/js/dependencies/highcharts/exporting.js')
  script(src='/js/scripts.js')
  script(src='/js/templates/stock-names-section.js')
