extends layout

block content

  div#container-chart

  script(src='/js/dependencies/highcharts/highstock.js')
  script(src='/js/dependencies/highcharts/exporting.js')
  script(src='/js/highChartThemes.js')
  script(src='/js/main.js')
